.weatherHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.weatherDescription {
    font-size: larger;
}

.temperature {
    font-size: larger;
}

.location {
    font-size: larger;
}

.humidity {
    font-size: larger;
}

.feelsLike {
    font-size: larger;
}